@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/normalize";

html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
  background: $bg-color;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
	font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: $smPhoneWidth;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a { text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section, .section {
  position: relative;
  padding: 25px 0;
  &._wlenta {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 20px 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;
  min-width: $smPhoneWidth;
  @media screen and (max-width: $desktopWidth) {
    padding: 0 20px;
    max-width: $smDesktopWidth;
  }
  @media screen and (max-width: $smDesktopWidth) {
    padding: 0 40px;
    max-width: $ipadWidth;
  }
  @media screen and (max-width: $ipadWidth) {
    max-width: $tblWidth;
  }
  @media screen and (max-width: $tblWidth) {
    //max-width: $smTableWidth;
    max-width: 100%;
  }
  @media screen and (max-width: $smTableWidth) {
    padding: 0 12px;
    //max-width: $phoneWidth;
    max-width: 100%;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: 100%;
    //max-width: $smPhoneWidth;
  }
}

.left-border {
  border-left: 6px solid $yellow-collor;
}

.h2 {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 20px;
}

.quote {
  padding-left: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  &-title {
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 10px;
  }
  &-author {
    font-size: 16px;
    text-align: right;
    color: #787878;
  }
}

// Modules
@import "modules/header";
@import "modules/hamburger";
@import "modules/footer";
@import "modules/commercial";
@import "modules/news-block";
@import "modules/news-item";
@import "modules/author";
@import "modules/news-info";
@import "modules/news-tag";
@import "modules/news-text";
@import "modules/news-text-item";
@import "modules/category";
@import "modules/search";
@import "modules/search-form";
@import "modules/article";
@import "modules/author-info";
@import "modules/news";
