.author-info
  .author-info__top
    .author-info__image
      img(src='/assets/img/author.png')
    .author-info__content
      .author-info__content-title= 'Владимир Никитенко'
      .author-info__meta
        ul.author-info__meta-values
          li= '1258 статей'
          li= '533 подписчика'
        button.author-info__meta-action
          img(src='/assets/img/icons/heart.svg')
  .author-info__bottom= 'Каждый день читай то, что больше никто не читает. Каждый день думай о том, о чём никто не думает. Каждый день делай то, что никто не делает.'
