.category
  .category__description
    .category__title= 'Лучшая подборка рекомендаций для любителей путешествовать'
    .category__text= 'В справочнике собраны полезные рекомендации, как находить и покупать дешёвые билеты на популярные направления. В нём можно узнать, что делать после покупки авиабилета, как легко летать с пересадками, как зарегистрироваться на рейс, что можно и что нельзя брать с собой в багаж и в самолёт, как правильно подготовиться к перелёту и что делать в аэропорту.'
  .category__tag
    .category__tag-item= 'Путешествия'
