extends ../layout/main

block variables
  - const title = 'Lenta.life | Рубрика page';
  - const description = 'Lenta.life description';
  - const pageClass = 'category-page';
  - const textNews = {tag: {title: 'Лучшее за неделю', className: '_yellow'},items: [{title: 'Тёплый AliExpress: 15 товаров, без которых не обойтись осенью и зимой',date: '14.10.2020',views: '756'}, {title: 'А что, так можно было? Простые рецепты фаршированной картошки, которые сэкономят время у плиты',date: '14.10.2020',views: '756'}, {title: 'Тёплый AliExpress: 15 товаров, без которых не обойтись осенью и зимой',date: '14.10.2020',views: '756'}, {title: 'А что, так можно было? Простые рецепты фаршированной картошки, которые сэкономят время у плиты',date: '14.10.2020',views: '756'}, {title: 'Тёплый AliExpress: 15 товаров, без которых не обойтись осенью и зимой',date: '14.10.2020',views: '756'}, {title: 'А что, так можно было? Простые рецепты фаршированной картошки, которые сэкономят время у плиты',date: '14.10.2020',views: '756'}, {title: 'Тёплый AliExpress: 15 товаров, без которых не обойтись осенью и зимой',date: '14.10.2020',views: '756'}, {title: 'А что, так можно было? Простые рецепты фаршированной картошки, которые сэкономят время у плиты',date: '14.10.2020',views: '756'}]};
  - const newsBlock1 = {"className": "_block1","items": [{"title": "10 приложений, с которыми вы забудете о пластиковых картах скидок","type": "_wide _full-img _text-w-line","img": "/assets/img/news/1.png","tag": {"title": "Лучшее","className": "_yellow"}},{"title": "10 приложений, с которыми вы забудете о пластиковых картах скидок","type": "_full-img","img": "/assets/img/news/2.png"},{"title": "Невероятный рецепт вкусного куриного пирога с сыром","type": "_full-img","img": "/assets/img/news/3.png"}]};
  - const newsBlock2 = {"className": "_block2","items": [{"title": "Жизнь по протоколу в Царской России: что должен был сделать кавалер после танца с дамой","text": "Русскоязычный Netflix расстроил зрителей нелепым переводом и удаленными шоу","type": "_w-padding","img": "/assets/img/news/4.png","tag": {"title": "Здоровье","className": "_pink"}},{"title": "10 приложений с которыми вы забудете о пластиковых картах скидок","text": "Русскоязычный Netflix расстроил зрителей нелепым переводом и удаленными шоу","type": "_w-padding","img": "/assets/img/news/5.png","tag": {"title": "Технологии","className": "_blue"}},{"title": "Жизнь по протоколу в Царской России: что должен был сделать кавалер после танца с дамой","text": "Русскоязычный Netflix расстроил зрителей нелепым переводом и удаленными шоу","type": "_w-padding","img": "/assets/img/news/6.png","tag": {"title": "Еда","className": "_orange"}},{"title": "10 приложений, с которыми вы забудете о пластиковых картах скидок","type": "_full-img","img": "/assets/img/news/2.png"},{"title": "Невероятный рецепт вкусного куриного пирога с сыром","type": "_full-img","img": "/assets/img/news/3.png"},{"title": "10 приложений с которыми вы забудете о пластиковых картах скидок","type": "_text-only _text-w-line","tag": {"title": "Лучшее","className": "_yellow"}}]};
  - const newsBlock3 = {"className": "block3","items": [{"title": "Жизнь по протоколу в Царской России: что должен был сделать кавалер после танца с дамой","text": "Русскоязычный Netflix расстроил зрителей нелепым переводом и удаленными шоу","type": "_wide _w-padding _one-line","img": "/assets/img/news/7.png","tag": {"title": "Здоровье","className": "_pink"}},{"title": "Как сделать антисептик для рук, который точно работает","text": "Русскоязычный Netflix расстроил зрителей нелепым переводом и удаленными шоу","type": "_wide _w-padding _one-line","img": "/assets/img/news/8.png","tag": {"title": "Здоровье","className": "_blue"}},{"title": "Жизнь по протоколу в Царской России: что должен был сделать кавалер после танца с дамой","text": "Русскоязычный Netflix расстроил зрителей нелепым переводом и удаленными шоу","type": "_wide _w-padding _one-line","img": "/assets/img/news/9.png","tag": {"title": "Здоровье","className": "_orange"}},{"title": "Как сделать антисептик для рук, который точно работает","text": "Русскоязычный Netflix расстроил зрителей нелепым переводом и удаленными шоу","type": "_wide _w-padding _one-line","img": "/assets/img/news/10.png","tag": {"title": "Здоровье","className": "_blue"}},]};
  - const newsBlock4 = {"className": "_block1","items": [{"title": "10 приложений, с которыми вы забудете о пластиковых картах скидок","type": "_full-img","img": "/assets/img/news/2.png"}, {"title": "Невероятный рецепт вкусного куриного пирога с сыром","type": "_full-img","img": "/assets/img/news/3.png"},{"title": "10 приложений, с которыми вы забудете о пластиковых картах скидок","type": "_wide _full-img _text-w-line","img": "/assets/img/news/1.png","tag": {"title": "Лучшее", "className": "_yellow"}}]};


block content
  .container
    section.section
      +commercial('_top', 'Реклама')
    section.section._category
      include ../includes/modules/category
    +news-block(newsBlock1)
    section.section._wlenta
      +news-block(newsBlock2)
      +news-text(textNews)
    +news-block(newsBlock3)
    section.section
      +commercial('_center', 'Реклама')
    +news-block(newsBlock4)
    section.section._wlenta
      +news-text(textNews)
      +news-block(newsBlock2)
    +news-block(newsBlock3)
    section.section
      +commercial('_center', 'Реклама')
