.category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  &__title {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 18px;
    font-weight: 500;
  }
  &__description {
    width: 70%;
  }
  &__tag {
    &-item {
      font-size: 30px;
      padding: 10px 21px;
      margin-top: 20px;
      background: #e8ccde;
      border-radius: 8px;
      text-transform: uppercase;
      letter-spacing: 1.2px;
    }
  }
}
