.category {
  display: flex;
  &__title {
    font-size: 24px;
    font-weight: bold;
  }
  &__text {
    font-size: 18px;
    font-weight: 500;
  }
  &__tag {
    &-item {
      font-size: 30px;
      padding: 14px 20px;
      background: $pink-color;
      border-radius: $border-radius;
      text-transform: uppercase;
    }
  }
}
